@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter/static/Inter_28pt-Bold.ttf") format("truetype");
  font-weight: 700;
  /* bold */
}
@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter/static/Inter_28pt-SemiBold.ttf") format("truetype");
  font-weight: 600;
  /* semibold */
}
@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter/static/Inter_28pt-Medium.ttf") format("truetype");
  font-weight: 500;
  /* medium */
}
@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter/static/Inter_28pt-Regular.ttf") format("truetype");
  font-weight: 400;
  /* regular */
}

* {
  padding: 0;
  margin: 0;
  font-family: "Inter" sans-serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: lightyellow; */
  font-family: "Inter";
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

.flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-justify-content-start {
  justify-content: flex-start;
}
.flex-justify-content-center {
  justify-content: center;
}
.flex-justify-content-space-between {
  justify-content: space-between;
}
.flex-justify-content-space-around {
  justify-content: space-around;
}
.flex-align-items-center {
  align-items: center;
}
.logo {
  width: 140px;
  height: 66px;
}

.container {
  /* background-color: lightcoral; */
  max-width: 1200px;
  width: 100%;
  height: 100%;
}
.header {
  /* background-color: lightblue; */
  width: 100%;
  height: 114px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.text-bold {
  font-weight: 700;
}
.text-semibold {
  font-weight: 600;
}
.text-medium {
  font-weight: 500;
}
.text-regular {
  font-weight: normal;
}

h1 {
  font-size: 64px;
  letter-spacing: -3px;
  line-height: 120%;
}
h2 {
  font-size: 48px;
  letter-spacing: -2px;
  line-height: 120%;
}
h3 {
  font-size: 40px;
  letter-spacing: 0;
  line-height: 120%;
}
h4 {
  font-size: 32px;
  letter-spacing: 0;
  line-height: 120%;
}
h5 {
  font-size: 24px;
  letter-spacing: 0;
  line-height: 120%;
}
h6 {
  font-size: 18px;
  letter-spacing: 0;
  line-height: 120%;
}

.text-body-large {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0;
}
.text-body-medium {
  font-size: 14px;
  line-height: 120%;
}
.text-body-small {
  font-size: 14px;
  line-height: 120%;
}
.nav {
  width: 276px;
  height: 66px;
}
.mr-32 {
  margin-right: 32px;
}
.mr-68 {
  margin-right: 68px;
}
.mt-114 {
  margin-top: 97px;
}
.cursor-pointer {
  cursor: pointer;
}

.underline-animation {
  position: relative;
  display: inline-block;
  text-decoration: none;
}
.underline-animation::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px; /* Расстояние линии от текста */
  width: 0%; /* Начальная ширина линии */
  height: 1px;
  background-color: #000000; /* Цвет линии */
  transition: width 0.3s ease-in-out; /* Анимация */
}
.underline-animation:hover::after {
  width: 100%; /* При наведении линия заполняет весь текст */
}

.intro {
  height: 785px;
  width: 100%;
  padding: 87px 0 135px 0;
}
.intro-left__title {
  font-size: 84px;
  line-height: 120%;
  letter-spacing: -3px;
}

.line {
  width: 77px;
  height: 1px;
  background-color: black;
  margin-top: 20px;
  margin-right: 27px;
}
.intro-left__description {
  width: 514px;
  height: 126px;
}
.intro-left__description_mobile {
  display: none;
}
.intro-right__image {
  margin-top: -21px;
  margin-left: 37px;
}
.customer-growth-img {
  z-index: 1;
  margin-top: 8px;
  margin-left: 437px;
  width: 212px;
  height: 220px;
}
.sales-img {
  margin-top: -170px;
  margin-left: -32px;
  width: 418px;
  /* height: 100%; */
}
.statistic-img {
  margin-top: 29px;
  margin-left: -31px;
  width: 419px;
  height: 118px;
}

.input-email{
  font-family: "Inter";
  font-size: 17px;
  margin-top:81px;
  width: 280px;
  height: 41px;
  border: none;
  outline: none;
  border-bottom: 1px solid #CED1D8;
  padding-bottom: 25px;
}
.input-email:focus{
  border: none;
  border-bottom: 1px solid #CED1D8;
  outline: none;
}
.input-email::placeholder{
  border: none;
  color:#7E8492;
}
@media (max-width: 425px) {
  .header {
    height: 77px;
    align-content: flex-end;
  }
  .logo {
    width: 112px;
    height: 52px;
  }
  .nav {
    display: none;
  }
  .contact-us {
    display: none;
  }
  .container {
    max-width: 335px;
  }

  .intro-right__image {
    margin-top: 350px;
  }

  .intro {
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin-top: 32px;
  }
  .intro-right {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .intro-left {
    max-width: 335px;
  }
  .intro-left__title {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0;
    width: 335px;
    height: 80px;
  }
  .mt-114 {
    margin-top: 48px;
  }
  .intro-left__description {
    display: none;
  }
  .intro-left__description_mobile {
    display: block;
    width: 303px;
    height: 96px;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0;
  }

  .line {
    margin-top: 10px;
    margin-right: 8px;
    width: 24px;
  }

  .sales-img {
    margin-top: -170px;
    /* margin-left: -36px; */
    width: 50%;
    height: 100%;
  }
  .customer-growth-img {
    width: 118px;
    height: 122px;
    margin-top: 19px;
    margin-right: 50px;
  }
  .statistic-img {
    width: 335px;
    height: 95px;
  }
}

@media (min-width: 426px) and (max-width: 1024px) {
  .container {
    max-width: 768px;
    padding: 20px;
  }
  .mr-68 {
    margin: 0;
  }
  .mt-114 {
    margin-top: 48px;
  }
  .intro-right__image {
    margin-top: 350px;
  }

  .intro {
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
  }
  .intro-right {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .intro-left__title {
    font-size: 32px;
    line-height: 120%;
    letter-spacing: -1px;
  }
  .customer-growth-img {
    top: 0;
  }
}
